html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 30px;
    background-color: rgb(220,245,220);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "aside  main";
    grid-template-rows: 55px 1fr;
}

/********************************** This is the header layout **************************************/

header {
    display: inline-flex;
    width: 100%;
    background-color: rgb(10,200,100);
    justify-content: space-between;
    height:55px;
    box-shadow: 1px 1px 15px 1px rgb(0,0,0.1);
    grid-area: header;
}

h1 {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
    gap: 40px;
}

.nav_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:40px;
    min-height: 40px;
    font-size: xx-large;
    background-color: rgb(10,100,190);
    border: none;
    border-radius: 5px;
    color: white;
}

.nav_btn:hover {
    background-color: rgb(10,150,200);
}

.nav_btn:active {
    border: 2px solid rgb(10,200,100);
    background-color: rgb(10,100,250);
}

a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: white;
}

a:hover {
    color: rgb(10,100,190);
}

/* This is the text burger into the nav button*/

.options {
    display: none;
    flex-direction: column;
    background-color: rgb(10,200,100);
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 15px 1px rgb(0,0,0.1);
    border-radius: 5px;
    z-index: 1111;
}

.show {
    display: flex
}


/****************************** This is the main distribution and Layout*****************************/

main {
    display: flex;
    height: 100%;
    width: 60vw;
    grid-area: main;
}

/*This is myself photo*/

aside {
    display: flex;
    height: 100%;
    width: 30vw;
    grid-area: aside;
}

.perfil_content {
    display: flex;
    height: 100%;
    background-color: black;
}

.myself {
    display: flex;
    width:100%;
    height: fit-content;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 1px rgb(0,0,0.1);
}
